# Bedrock configuration file

# Configures a world. Currently only one world is supported.
world
{
	# The name of the world
	name = "world";

	# The full path to the world (so path/level.dat exists)
	path = "/home/adam/world-original";
}

# The configuration for the server.
server
{
	# The description to show in the client's server list.
	description = "Adam's custom server";

	# The maximum uamount of sers this server can support. Note that the
	# file limit for this user will override anything set here. On Unix
	# systems see ulimit -n.
	maxusers = 127;

	# The IP and port to listen on.
	ip = "0.0.0.0";
	port = 25565;

	# The log levels to use,
	log_level = CRIT, WARN, INFO;
}

# Represents a server operator (admin).
oper
{
	# The name of the user
	name = "Adam";

	# The password for this operator to login.
	# If ommited no password is required and they
	# are automatically given operator status on
	# login.
	#password = "moo";

	# Commands this operator is allowed to use.
	commands = "FDLIST MEMORY PLAYERS SHUTDOWN STATS TP TIME";
}

